.container.contact__container {
    width: 58%; 
    display: grid;
    /* grid-template-columns: 30% 58%; */
    justify-content: center;
    /* border: 1px solid green; */
}

form {
    display: flex;
    flex-direction: column;
    width: 45rem;
    gap: 1.2rem;
    /* border: 1px solid green; */
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
    form {
        width: 30rem;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 21rem;
    }
}